{% extends "site_base.html" %}
{% load static %}

{% block leader %}
    {% if page.slides.count %}
        {% include "carousel.html" with slides=page.slides.all %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block bgimage %}{{ page.featured.featured.url|default:'//placehold.it/1920x1000' }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block subtitle %}{{ page.subtitle|default_if_none:"" }}{% endblock %}

{% block content %}
    {{ content|safe }}
{% endblock %}

{% block scripts %}
    <script>
        {{ page.script|safe }}
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <style>
        {{ page.style|safe }}
    </style>
{% endblock %}
